<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class = "container">
	<div class = "row">
	<% if ( sessionFlash && sessionFlash.message) { %>
	
<% if(sessionFlash.type == 'success'){  %>


<div class="alert alert-success">
	<strong>FLASH!</strong> <%= sessionFlash.message %>
</div>

<% } else {  %>
	
<div class="alert alert-danger">
	<strong>FLASH!</strong> <%= sessionFlash.message %>
</div>

<% } %>

<% } %>
	</div>
</div>



  

  <div class = "container">
	<div class = "row">
	<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quote</th>
        <th>Action</th>
        
        
      </tr>
    </thead>
    
    <tbody>
      
      <% for(var i=0; i<quotes.length; i++) {%>
    
    <tr>
		<td><%= quotes[i]._id %></td>
		<td><%= quotes[i].name %></td>
		<td><%= quotes[i].quote %></td>
		<td><button type="button" class="btn btn-default"><a href = "update?id=<%= quotes[i]._id %>">Update</a></button>
		<button type="button" class="btn btn-danger"><a href = "action?id=<%= quotes[i]._id %>">Delete</a></button>
		</td>
    </tr>
      
    
  <% } %>
    </tbody>
  </table>
  
  <h1> Time <%=new Date().getTime() %></h1>
  
	</div>
  </div>
  
  
  
  <div>
  
  <h2>Replace last quote written by Master Yoda with a quote written by Darth Vadar</h2>
  <button id="update"> Darth Vadar invades! </button>
</div>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>
  
  
  
  <form ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:8080/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" multiple/>
        <input type='submit' value='Upload!' />
    </form> 
<script src="main.js"></script>
</body>

</html>
