<!DOCTYPE html>
<html lang="en">
	<head >
	<meta charset="utf-8"/>
      <meta name="description" content="Default Description"/>
      <meta name="keywords" content="Magento, Varien, E-commerce"/>
      <meta name="robots" content="INDEX,FOLLOW"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="format-detection" content="telephone=no"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <title>Create New Customer Account</title>
      <%- include('header-links.ejs') %>
       <%- include('functions.ejs') %>
   </head>
   
<body>

	  <div class="page-wrapper">
         <%- include('header.ejs') %>
         
         <main id="maincontent" class="page-main">
            <a id="contentarea" tabindex="-1"></a>
            <div class="columns col1-layout">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12">
						<h2>Unable to find URL <%= url %></h2>
                     </div>
                   </div>
               </div>
            </div>
		</main>
	</div>
      
      <%- include('footer.ejs') %>
</body>

</html>


