<!DOCTYPE html>
<html lang="en">
   <head >
      <script>
         var require = {
             "baseUrl": "http://localhost/marketplace-theme/themes/sm_market2/pub/static/frontend/Sm/market/en_US"
         };
      </script> 
      <meta charset="utf-8"/>
      <meta name="description" content="Default Description"/>
      <meta name="keywords" content="Magento, Varien, E-commerce"/>
      <meta name="robots" content="INDEX,FOLLOW"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="format-detection" content="telephone=no"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <title>Create New Customer Account</title>
     
     
     <%- include('header-links.ejs') %> 
 
   </head>
   <body data-container="body" data-mage-init='{"loaderAjax": {}, "loader": { "icon": "http://localhost/marketplace-theme/themes/sm_market2/pub/static/frontend/Sm/market/en_US/images/loader-2.gif"}}' class="header-4-style home-4-style footer-1-style layout-full-width  customer-account-create page-layout-1column">

      <noscript>
         <div class="message global noscript">
            <div class="content">
               <p><strong>JavaScript seems to be disabled in your browser.</strong> <span>For the best experience on our site, be sure to turn on Javascript in your browser.</span></p>
            </div>
         </div>
      </noscript>
      
      <div class="page-wrapper">
		  
          <%- include('header.ejs') %>
        
         <main id="maincontent" class="page-main">
            <a id="contentarea" tabindex="-1"></a>
            <div class="columns col1-layout">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12">
                        <div class="page-title-wrapper">
                           <h2 class="page-title"  >

                        </div>
                        <div class="page messages">
                           <div data-placeholder="messages"></div>
                           <div data-bind="scope: 'messages'">
                              <!-- ko if: cookieMessages && cookieMessages.length > 0 -->
                              <div role="alert" data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages">
                                 <div data-bind="attr: { class: 'message-' + message.type + ' ' + message.type + ' message', 'data-ui-id': 'message-' + message.type }">
                                    <div data-bind="html: message.text"></div>
                                 </div>
                              </div>
                              <!-- /ko --><!-- ko if: messages().messages && messages().messages.length > 0 -->
                              <div role="alert" data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages">
                                 <div data-bind="attr: { class: 'message-' + message.type + ' ' + message.type + ' message', 'data-ui-id': 'message-' + message.type }">
                                    <div data-bind="html: message.text"></div>
                                 </div>
                              </div>
                              
                             
                              <!-- /ko -->
                           </div>
                           
                          <!-- Registration messae will come here -->
                         <div class = "container">
						 
	<div class = "row">
<% if ( sessionFlash && sessionFlash.message) { %>
	
<% if(sessionFlash.type == 'success'){  %>


<div class="alert alert-success">
	<strong>Success!</strong> <%= sessionFlash.message %>
</div>



<% } else { 
	
	
%>
	
<div class="alert alert-danger">
	<strong>Error!</strong> <%= sessionFlash.message %>
	
</div>

<% } %>

<% } %>
	</div>
</div>
		
						
                            
                           
                        </div>
                        <div class="column main">
							
							<!---
                           <div class="block social-login-wrap">
                              <div class="block-content">
                                 <div class="actions-toolbar social-btn facebook-login"><a class="btn btn-block btn-social btn-facebook" data-mage-init='{"socialProvider": {"url": "http://localhost/marketplace-theme/themes/sm_market2/argentina/sociallogin/social/login/type/facebook/", "label": "Login By Facebook"}}'><span class="fa fa-facebook"></span> Sign in with Facebook</a></div>
                                 <div class="actions-toolbar social-btn twitter-login"><a class="btn btn-block btn-social btn-twitter" data-mage-init='{"socialProvider": {"url": "http://localhost/marketplace-theme/themes/sm_market2/argentina/sociallogin/social/login/type/twitter/", "label": "Login By Twitter"}}'><span class="fa fa-twitter"></span> Sign in with Twitter</a></div>
                                 <div class="actions-toolbar social-btn linkedin-login"><a class="btn btn-block btn-social btn-linkedin" data-mage-init='{"socialProvider": {"url": "http://localhost/marketplace-theme/themes/sm_market2/argentina/sociallogin/social/login/type/linkedin/", "label": "Login By LinkedIn"}}'><span class="fa fa-linkedin"></span> Sign in with LinkedIn</a></div>
                                 <div class="actions-toolbar social-btn yahoo-login"><a class="btn btn-block btn-social btn-yahoo" data-mage-init='{"socialProvider": {"url": "http://localhost/marketplace-theme/themes/sm_market2/argentina/sociallogin/social/login/type/yahoo/", "label": "Login By Yahoo"}}'><span class="fa fa-yahoo"></span> Sign in with Yahoo</a></div>
                              </div>
                           </div>
                           -->
                           
                           
                           <input name="form_key" type="hidden" value="57g6R7P6vtWiTl3X" /> 
                           <div id="authenticationPopup" data-bind="scope:'authenticationPopup'" style="display: none;">
                             
                             
                             
                           
                           </div>
                           
                            
                           <div id="sm-social-login" class="white-popup mfp-with-anim mfp-hide" data-mage-init='{"socialPopupForm": {"headerLink":".header-container .header.links","popupEffect":"mfp-move-from-top","formLoginUrl":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/customer\/ajax\/login\/","forgotFormUrl":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/sociallogin\/popup\/forgot\/","createFormUrl":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/sociallogin\/popup\/create\/"}}'>
                              <div class="social-login-type block-container authentication">
                                 <div class="social-login-title">
                                    <h2 class="login-title">Sign In</h2>
                                 </div>
                                 
                                 

                                 
                                 <script>
                                    window.socialAuthenticationPopup = {"facebook":{"label":"Facebook","login_url":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/sociallogin\/social\/login\/type\/facebook\/","url":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/sociallogin\/social\/login\/authen\/popup\/type\/facebook\/","key":"facebook","btn_key":"facebook"},"twitter":{"label":"Twitter","login_url":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/sociallogin\/social\/login\/type\/twitter\/","url":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/sociallogin\/social\/login\/authen\/popup\/type\/twitter\/","key":"twitter","btn_key":"twitter"},"linkedin":{"label":"LinkedIn","login_url":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/sociallogin\/social\/login\/type\/linkedin\/","url":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/sociallogin\/social\/login\/authen\/popup\/type\/linkedin\/","key":"linkedin","btn_key":"linkedin"},"yahoo":{"label":"Yahoo","login_url":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/sociallogin\/social\/login\/type\/yahoo\/","url":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/sociallogin\/social\/login\/authen\/popup\/type\/yahoo\/","key":"yahoo","btn_key":"yahoo"}};
                                 </script>
                              </div>
                              
                           
                           
                           </div>
                           <div style="clear: both"></div>
                           
                           
                          
                           
                           <script>
                              require([
                                  'jquery',
                                  'mage/mage'
                              ], function($){
                              
                                  var dataForm = $('#form-validate');
                                  var ignore = null;
                              
                                  dataForm.mage('validation', {
                                          ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
                                   }).find('input:text').attr('autocomplete', 'off');
                              
                              });
                           </script> 
                           
                           
                           
                           <script type="text/x-magento-init">
                              {
                                  ".field.password": {
                                      "passwordStrengthIndicator": {
                                          "formSelector": "form.form-create-account"
                                      }
                                  }
                              }
                           </script>  
                           
                           
                           
                           
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
         
         <%- include('footer.ejs') %> 

         
       
        
        
