{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}


{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Discription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.discription }}</td>
                <td>
                    <button class = "alert alert-info"><a href="{{ path('product_show', {'id': product.id}) }}">show</a></button>
                    <button class = "alert alert-danger"><a href="{{ path('product_edit', {'id': product.id}) }}">edit</a></button>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
